@charset "utf-8";
main {
    max-width:800px;
    margin:auto;
}

article {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}


li { 
    color: black;
    display:inline;
}

.elem {
  color: black;
}

@media screen and (max-width:400px) {
    section {        
        grid-template-columns: 1fr;        
    } 
}